{% extends 'base.html' %}

{% block body %}
    <header>create items</header>
    <section class='form'>
        <h1>add item</h1>
        <form  method="POST" action='{{ url_for("alertBp.addAlert") }}'>
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
              <label >URL</label>
              <input type="text" class="form-control" name="url"  aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label>price limit</label>
              <input type="text" class="form-control" name="limit">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

    </section>
{% endblock %}